n8n_matakuliah_workflow.json
{
  "name": "UKDW Matakuliah Fetcher",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "matakuliah",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst cookies = body.cookies || {};\nconst cookieEntries = Object.entries(cookies);\nconst cookieString = cookieEntries.map(([k, v]) => `${k}=${v}`).join('; ');\n\nreturn [\n  {\n    json: {\n      cookieString,\n      telegram_user_id: body.telegram_user_id,\n      hasCookies: cookieEntries.length > 0\n    }\n  }\n];\n"
      },
      "id": "extract-cookies",
      "name": "Extract Cookies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://eclass.ukdw.ac.id/e-class/id/kelas/index",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ $json.cookieString }}"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-eclass",
      "name": "Fetch E-Class",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const html = $input.first().json.data || $input.first().json.body || '';\n\nfunction extractAll(regex, text) {\n  const matches = [];\n  let match;\n  while ((match = regex.exec(text)) !== null) {\n    matches.push(match);\n  }\n  return matches;\n}\n\nconst courses = [];\nconst rowRegex = /<tr[^>]*>.*?<\\/tr>/gs;\nconst rows = extractAll(rowRegex, html);\n\nfor (const rowMatch of rows) {\n  const row = rowMatch[0];\n  const cellRegex = /<td[^>]*>(.*?)<\\/td>/gs;\n  const cells = extractAll(cellRegex, row);\n\n  if (cells.length >= 3) {\n    const getText = (htmlStr) => htmlStr.replace(/<[^>]+>/g, '').replace(/&nbsp;/g, ' ').trim();\n    const texts = cells.map(c => getText(c[1]));\n\n    if (texts[0] && texts[0].length > 0 && !texts[0].toLowerCase().includes('no')) {\n      const matkul = texts[1] || texts[0];\n      const kelas = texts[2] || 'N/A';\n      const sks = texts[3] || 'N/A';\n\n      if (matkul && matkul.length > 2) {\n        courses.push({\n          matkul,\n          id: texts[0] || 'N/A',\n          sks,\n          kelas,\n          ruang: texts[4] || 'N/A',\n          jadwal: texts[5] || 'N/A',\n          pengampu: texts[6] || 'N/A'\n        });\n      }\n    }\n  }\n}\n\nif (courses.length === 0) {\n  const cardRegex = /<div[^>]*class=[\"'][^\"']*kelas[^\"']*[\"'][^>]*>(.*?)<\\/div>/gs;\n  const cards = extractAll(cardRegex, html);\n\n  for (let i = 0; i < cards.length; i++) {\n    const card = cards[i][1];\n    const text = card.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n    if (text.length > 3) {\n      courses.push({\n        matkul: text,\n        id: String(i + 1),\n        sks: 'N/A',\n        kelas: 'N/A',\n        ruang: 'N/A',\n        jadwal: 'N/A',\n        pengampu: 'N/A'\n      });\n    }\n  }\n}\n\nreturn [\n  {\n    json: {\n      matakuliah: courses,\n      count: courses.length,\n      success: courses.length > 0\n    }\n  }\n];\n"
      },
      "id": "parse-html",
      "name": "Parse HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1050,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Cookies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Cookies": {
      "main": [
        [
          {
            "node": "Fetch E-Class",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch E-Class": {
      "main": [
        [
          {
            "node": "Parse HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse HTML": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": null,
  "tags": []
}